.FormContainer {
  display: flex;
  flex-direction: column;
  width: 640px;
  padding: 24px;
  margin: 100px auto;
  background: #ffffff;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.FormHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  margin-bottom: 18px;
  &_Title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
    color: #45505a;
  }
}

.FormItem {
  &__lg {
    width: 100%;
    margin-bottom: 14px;
  }
  &__md {
    width: 384px;
    margin-bottom: 14px;
  }
  &__sm {
    width: 184px;
    margin-bottom: 14px;
    align-items: flex-start;
  }
  &_button {
    width: 384px;
    margin-bottom: 0;
  }
  &_subDescription {
    display: flex;
  }
  &_content {
    height: 40px;
  }
}

.FormLabelContainer {
  display: flex;
  justify-content: space-between;
}

.FormLabel {
  font-weight: 600;
  &__primary {
    font-size: 14px;
    line-height: 20px;
  }
  &__second {
    font-size: 13px;
    line-height: 18px;
    color: #8c94a0;
  }
  &__required {
    &::after {
      display: inline-block;
      margin-right: 4px;
      color: #9e3c3c;
      font-size: 14px;
      line-height: 1;
      content: "*";
    }
  }
}

.Divider {
  margin: 10px 0 24px 0;
}

.Button {
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: #ffffff;
  width: 100%;
  height: 40px;

  padding: 8px 102px;

  background: #4188e3;
  border-radius: 2px;
}

.InputNumber {
  width: 100%;
}

.Quantity {
  display: flex;
  margin: 0;
  &_Input {
    width: 100px;
    margin-left: 8px;
  }
}
